h2.agendaTitles {
  font: normal 30px 'Montserrat',arial,sans;
  color: #facd2f !important;
  background-color: #17365d;
  margin: 0px 20px 0px 25px;
  padding: 14px;
}

#jri-sub {
  font: normal 20px 'Open sans',arial,sans;
  color: #17365d;
  background-color: #facd2f;
  margin: 0px 20px 0px 25px;
  padding: 10px 10px 10px 14px;
}

#whatworks-sub {
  font: normal 20px 'Open sans',arial,sans;
  color: #17365d;
  background-color: #F9A03F;
  margin: 0px 20px 0px 25px;
  padding: 10px 10px 10px 14px;
}

#admin {
  color: #4c9fb2;
}

#break {
  color: #c44536;
}

ul.agendaItems {
	padding: 0;
	margin: 0px 0px 0px 0px;
	list-style: none;
	border-top: solid 3px #7f94a1;
}

ul.agendaItems li {
	position: relative;
	margin: 0px 0px 0px 108px;
	padding: 10px 10px 5px 16px;
	border-bottom: dotted 1px #7f94a1;
	border-left: solid 1px #7f94a1;
}
ul.agendaItems li:last-child {
	border-bottom: dotted 0px #7f94a1 !important;
}

ul.agendaItems li h3{
	position: relative;
	top: -1px;
  margin: 0px;
  padding: 6px 0px 10px 0px;
	font: normal 24px 'Montserrat',arial,sans;
	line-height: normal;
	color: #333;
}

ul.agendaItems li p{
  margin-top: 0px;
  font: normal 14px 'Open sans',arial,sans;
}

ul.agendaItems li .time {
	position: absolute;
	top: 19px;
	left: -108px;
	z-index: 0;
	width: 108px;
	text-align: center;
  font: normal 14px 'Montserrat',arial,sans;
  color: #333;
}

ul.agendaItems li .room {
	xdisplay: inline-block;
	xpadding: 4px 6px 3px 6px;
	line-height: 1;
	font: normal 10px 'Open sans', arial, sans;
  color: #333;
}
